{{ define "base" }}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@iconscout/unicons@4/css/line.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {{ template "navbar" . }}
    <div class="layout-body">
        {{ if .nav }}
            {{ template "sidebar" . }}
        {{ end }}
        <main class="main-content {{ if .nav }}has-sidebar{{ end }}">
            {{ if eq .page "landing"}}
                {{ template "landing-content" . }}
                <script src="/static/js/landing_page.js"></script>
            {{ else if eq .page "home"}}
                {{ template "home-content" . }}
                <script src="/static/js/home_page.js"></script>
            {{ else if eq .page "films"}}
                {{ template "films-content" . }}
                <script src="/static/js/films_page.js"></script>
            {{ else if eq .page "dashboard"}}
                {{ template "dashboard-content" . }}
            {{ else }}
                {{ template "landing-content" . }}
                <script src="/static/js/landing_page.js"></script>
            {{end}}
        </main>
    </div>
    
    {{ template "footer" . }}
    
    <script src="/static/js/app.js"></script>
</body>
</html>
{{ end }}
