{{ define "base" }}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {{ template "navbar" . }}
    <div class="layout-body">
        <main class="main-content {{ if not .email }}full-width{{ end }}">
            {{ if eq .page "landing" }}
                {{ template "landing-content" . }}
                {{end}}
        </main>
    </div>
    
    {{ template "footer" . }}
    
    <script src="/static/js/app.js"></script>
</body>
</html>
{{ end }}
