{{ template "base" . }}
{{ define "films-content" }}
<main class="films-page">
    <section class="films-hero" style="margin-top: -13vh;">
    </section>
    <section class="films-section">
        <a href="/"><h3>< Kembali</h3></a>
        <div class="films-tabs" id="films-tabs">
            <button class="films-tab active" data-filter="now_playing">Now Playing</button>
            <button class="films-tab" data-filter="coming_soon">Coming Soon</button>
        </div>

        <div id="films-grid" class="films-grid">
            <p>Memuat film...</p>
        </div>
    </section>
</main>
{{ end }}
