{{ template "base" . }}
{{ define "landing-content" }}
<main>
    <section class="hero">
        <div class="hero-container">
            
            <!-- LEFT : IMAGE -->
            <div class="hero-image">
                <img
                    src="/images/[Home] Aktivitas.avif"
                    alt="TB illustration">
            </div>

            <!-- RIGHT : CONTENT -->
            <div class="hero-content">

                <h1>BOOCINS</h1>
                <span class="hero-label" style="color: black;">Booking Cinema</span>
                <span class="hero-label">Seats</span>
                <p>
                    Website pemesanan tiket bioskop untuk melihat film,
                    jadwal tayang, rating, serta memilih dan memesan kursi dengan mudah.
                </p>
                <p>
                    BOOCINS hadir dengan UI yang modern, simpel, dan mudah digunakan,
                    sehingga memudahkan pengguna menemukan film bioskop pilihan.
                </p>
                <div class="hero-buttons">
                    <a href="/register" class="btn btn-primary">
                        Mulai Sekarang
                        <i class="uil uil-arrow-right"></i>
                    </a>
                    <a href="#guide" class="btn btn-secondary">Pelajari BOOCINS</a>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== ISI CONTENT LANDING PAGE ==================== -->
    <section class="carousel" id="film-carousel">
        <div class="carousel-viewport">
            <div class="carousel-track">
                <!-- diisi via JS: .carousel-slide -->
            </div>
        </div>
    </section>
    <section class="explore landing-section">
        <div class="section-heading explore-heading">
            <h2>Explore Film</h2>
            <a href="/films" class="view-all-link" id="explore-view-all">view all ></a>
        </div>
        <div id="explore-grid" class="film-row"></div>  <!-- 4 film -->
    </section>

    <section class="foodndrink landing-section">
        <div class="section-heading fnb-heading">
            <h2>Food & Drink</h2>
            <a href="#" class="view-all-link">view all ></a>
        </div>
        <div class="fnb-main">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPoA0cBZeEXOU-gL7_km1i5lfwRPe9jbpU_fw-AlnVadwR678I-bD3uM4V&s=10" alt="Food and Drink">
        </div>
    </section>

    <section class="promo landing-section">
        <div class="section-heading promo-heading">
            <h2>Promo Membership</h2>
            <a href="#" class="view-all-link">view all ></a>
        </div>
        <div class="promo-images">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYSZFzx7OTIqQZgrl6BZ-68RhKTc-s_uDleTjl-i_s5w&s=10" alt="Promo besar">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVK0thpJNQuXWTPdNB6h-Zu6ef3FKctYafoTT0a94P3A&s=10" alt="Promo samping">
        </div>
    </section>
    

    <!-- ==================== ABOUT ==================== -->
    <section class="about" id="about">
        <div class="section-container">
            <div class="about-content">
                <span>ABOUT THE CREATOR</span>
                <h2>Dibuat untuk pengalaman menonton yang lebih mudah.</h2>
                <p>
                    BOOCINS dibuat sebagai sebuah project untuk menghadirkan pengalaman pemesanan tiket bioskop yang sederhana dan nyaman, sekaligus menjadi ruang untuk terus belajar dan berkembang dalam dunia backend development.
                </p>
            </div>
        </div>
    </section>
</main>
{{ end }}
