{{ define "register" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/login">Kembali ke Login</a>
    <form id="register-form" method="post">
        <div style="display: flex; flex-direction: column;">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Masukan Email">
        </div>
        <div style="display: flex; flex-direction: column;">
            <label for="firstname">firstname</label>
            <input type="text" name="firstname" id="firstname" placeholder="Masukan Firstname">
        </div>
        <div style="display: flex; flex-direction: column;">
            <label for="lastname">Lastname</label>
            <input type="text" name="lastname" id="lastname" placeholder="Masukan Lastname">
        </div>
        <div style="display: flex; flex-direction: column;">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Masukan Password">
        </div>
        <div style="display: flex; flex-direction: column;">
            <label for="confirm_password">Konfirmasi Password</label>
            <input type="Password" name="confirm_password" id="confirm_password" placeholder="Masukan password kembali">
        </div>
        <div style="display: flex; flex-direction: row; gap: 50px;">
            <button type="submit">Register</button>
        </div>
    </form>
</body>
</html>
{{ end }}