/* ==================== FOOTER ==================== */

.footer {
    background: #17131f;
    color: white;
    padding: 60px 24px 20px;
}

.footer-container {
    max-width: 1150px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 60px;
}

.footer-brand h3 {
    color: #9b72ff;
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-brand p {
    color: #aaa;
    font-size: 14px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links a {
    color: #aaa;
    font-size: 13px;
    transition: 0.2s;
}

.footer-links a:hover {
    color: white;
}

.footer-bottom {
    max-width: 1150px;
    margin: 50px auto 0;
    padding-top: 20px;
    border-top: 1px solid #302b38;
    display: flex;
    justify-content: space-between;
    color: #777;
    font-size: 12px;
}   